<div class="container-fluid">
    
    <topo-menu></topo-menu>
    
    <section>
        <div class="col-md-12 box1">
            <div class="col-md-7">
                <h1>
                    Mateus Marques<br/>
                    Web Developer <br/>
                    Full Stack
                </h1>
            </div>

            <div class="col-md-5">
                <div class="myself">
                    <img src="img/myself.jpg" class="img-responsive img-circle"/>
                </div>
            </div>
        </div>
            
    </section>
    
    <section>
        <div class="col-md-12 box2">
            <div class="col-sm-1"></div>
            <div class="col-md-3">
                <h3>Conhecimentos</h3>
                Sou um desenvolvedor Full Stack, com experiência em: PHP, Javascript, AngularJS, JQuery, CSS3 HTML5, Zend Framework, Phonegap, Ionic Framework, Wordpress e Mysql. 
                Além de conhecimentos em PostgreSQL, Android, Laravel, GIT e GitHub. 
                Estou me aventurando na área de Ruby e NodeJS também.
                
            </div>
            <div class="col-sm-1"></div>
            <div class="col-md-4">
                <h3>Formação</h3>
                No momento estou cursando a graduação em Sistemas para Computação, na UFF/CEDERJ.<br/>
                Já sou formado em Webmaster pelo instituto INFNET. Além de passagens pelos institutos COTI e CETEC, sempre cursando programação.
            </div>
            
            <div class="col-md-2">
                <h3>Contato</h3>
                <a href="https://www.linkedin.com/pub/mateus-marques/37/54b/b3" target="_blank"><img src="img/linkedin.png" title="Linkedin"/></a>
                <a href="https://github.com/mmgoncalves" target="_blank"><img src="img/github.png" title="GitHub"/></a>
                <img src="img/email.png" title="Email"/>
                <br/><br/> marques.m05@gmail.com
            </div>
        </div>
    </section>
</div>