<div class="container-fluid">
    
    <topo-menu></topo-menu>
    
    <section>
        <div class="col-md-12 box1">
            <h2>Alguns trabalhos realizados.</h2>
            <div class="trabalhos">
                <!-- linha 1 -->
                <div class="cases">
                    <div class="col-md-4">
                        <img src="img/cases/bf.jpg" class="img-thumbnail"/>
                        <p>Aplicativo Beauty Full para Android. Desenvolvido em Ionic e AngularJS. Consumindo uma API REST.</p>
                        <p><a href="https://goo.gl/39dn3n" target="_blank"><span class="glyphicon glyphicon-link"> https://goo.gl/39dn3n</span></a></p>
                    </div>

                    <div class="col-md-4">
                        <img src="img/cases/bf2.jpg" class="img-thumbnail img-rounded"/>
                        <p>Sistema de agendamentos desenvolvido com Zend Framework e Jquery. Consumindo Webservices externos.</p>
                        <p><a href="http://goo.gl/QnzU7p" target="_blank"><span class="glyphicon glyphicon-link"> http://goo.gl/QnzU7p</span></a></p>
                    </div>

                    <div class="col-md-4">
                        <img src="img/cases/nexttag.jpg" class="img-thumbnail img-rounded"/>
                        <p>Desenvolvimento de sites e sistemas para a agência digital Nexttag.</p>
                        <p><a href="http://goo.gl/PWtwnp" target="_blank"><span class="glyphicon glyphicon-link"> http://goo.gl/PWtwnp</span></a></p>
                    </div>
                </div>

                <!-- linha 2 -->
                <div class="cases">
                    <div class="col-md-4">
                        <img src="img/cases/taca.jpg" class="img-thumbnail img-rounded"/>
                        <p>Sistema de gerenciamento, sistema de "Bolão", além do site institucional.</p>
                        <p><a href="http://goo.gl/HgpNVb" target="_blank"><span class="glyphicon glyphicon-link"> http://goo.gl/HgpNVb</span></a></p>
                    </div>

                    <div class="col-md-4">
                        <img src="img/cases/fholding.jpg" class="img-thumbnail img-rounded"/>
                        <p>Site institucional.</p>
                        <p><a href="http://goo.gl/ax7NVu" target="_blank"><span class="glyphicon glyphicon-link"> http://goo.gl/ax7NVu</span></a></p>
                    </div>

                    <div class="col-md-4">
                        <img src="img/cases/ndxnet.jpg" class="img-thumbnail img-rounded"/>
                        <p>Desenvolvimento de sites e do blog da empresa, em Wordpress.</p>
                        <p><a href="http://goo.gl/0rknQR" target="_blank"><span class="glyphicon glyphicon-link"> http://goo.gl/0rknQR</span></a></p>
                    </div>
                </div>
                
                <!-- linha 3 -->
                <div class="cases">
                    <div class="col-md-4">
                        <img src="img/cases/data.jpg" class="img-thumbnail img-rounded"/>
                        <p>Desenvolvimento de sites institucional.</p>
                        <p><a href="http://goo.gl/6Xwj9I" target="_blank"><span class="glyphicon glyphicon-link"> http://goo.gl/6Xwj9I</span></a></p>
                    </div>

                    <div class="col-md-4">
                        <img src="img/cases/bee.jpg" class="img-thumbnail img-rounded"/>
                        <p>Gestão do e-commerce, e manutenção do sistema..</p>
                        <p><a href="#"><span class="glyphicon glyphicon-link"> </span></a></p>
                    </div>

                    <div class="col-md-4">
                        <img src="img/cases/anu.jpg" class="img-thumbnail img-rounded"/>
                        <p>Desenvolvimento do sistema nacional de votação e do sistema de gerenciamento interno.</p>
                        <p><a href="http://goo.gl/0JPUMz" target="_blank"><span class="glyphicon glyphicon-link"> http://goo.gl/0JPUMz</span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>